
.input {
    background-color: rgba(58, 90, 64, 0.7);
    padding: 8px;
    color: #DAD7CD;
    border:none;
    border-radius: 4px;
    border-bottom:1px solid #588157;
}

.input::placeholder {
    color: #DAD7CD;
}

.input:focus {
    outline-color: #588157;
}

.button {
    padding: 6px 4px;
    border-radius: 4px;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    background-color: #DAD7CD;;
}

.button:before {
    height: 0%;
    width: 2px;
  }

.button:hover {
box-shadow:  4px 4px 6px 0 rgba(163, 177, 138,0.5),
    -4px -4px 6px 0 rgba(88, 129, 87, 0.5), 
inset -4px -4px 6px 0 rgba(163, 177, 138,0.2),
inset 4px 4px 6px 0 rgba(58, 90, 64, 0.4);
}

.button:active {
    background-color: #588157;
}