
.container {
  padding: 8rem 5rem;
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.pages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}